@{
    ViewData["Title"] = "Adatbázis";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div id="home-page-text-div">
    <p>Az Adatbázis oldal tartalma</p>
</div>