@{
    ViewData["Title"] = "Főoldal";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div id="home-page-text-div">
    <h2>Ez egy minta alkalmazás, amely sérülékenységeket tartalmaz. Csak tesztelésre és vizsgálatra használható, éles környezetben nem!</h2>
    <p>Az alkalmazás több részből áll. Az
        <a class="page-links" asp-area="" asp-controller="Users" asp-action="Sqlserver" title="SQL Server">SQL Server</a>,
        a <a class="page-links" asp-area="" asp-controller="Users" asp-action="Mysql" title="MySQL">MySQL</a>
        és az <a class="page-links" asp-area="" asp-controller="Users" asp-action="Sqlite" title="SQLite">SQLite</a>
        oldalakon különböző adatbázis-lekéréseket tudunk végrehajtani az ott szereplő űrlapokon keresztül.</p>

    <p>A szakdolgozatról és a felépítéséről az
        <a class="page-links" asp-area="" asp-controller="Home" asp-action="Info" title="Információ">Információ</a>
        oldalon tudhatnak meg többet.</p>
</div>