@{
    ViewData["Title"] = "Főoldal";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div id="home-page-text-div">
    <p>A jelen minta alkalmazás több részből áll. A <a class="page-links" asp-area="" asp-controller="Users" asp-action="Sqlserver" title="MS SQL">MS SQL</a>,
        a <a class="page-links" asp-area="" asp-controller="Users" asp-action="Sqlserver" title="MySQL">MySQL</a> és az
        <a class="page-links" asp-area="" asp-controller="Users" asp-action="Sqlserver" title="SQLite">SQLite</a>
        oldalakon különböző adatbázis-lekéréseket tudunk végrehajtani az ott szereplő űrlapokon keresztül.</p>
    
    <p>A szakdolgozatról az <a class="page-links" asp-area="" asp-controller="Home" asp-action="Info" title="Információ">Információ</a> oldalon tudhatnak meg többet.</p>
</div>