@{
    ViewData["Title"] = "Főoldal";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div id="home-page-text-div">
    <p>A jelen minta alkalmazás két részből áll. Az <a class="page-links" asp-area="" asp-controller="Home" asp-action="Database" title="Adatbázis">Adatbázis</a>
        oldalon különböző adatbázis-lekéréseket tudunk végrehajtani az ott szereplő űrlapokon keresztül. A másik oldalon TODO</p>
    
    <p>A szakdolgozatról az <a class="page-links" asp-area="" asp-controller="Home" asp-action="Info" title="Információ">Információ</a> oldalon tudhatnak meg többet.</p>
</div>