@{
    ViewData["Title"] = "Információ";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<h3>A szakdolgozat adatai</h3>
<p><strong>Téma:</strong> Weboldalak sérülékenységeinek, hitelességének és megbízhatóságának ellenőrzése</p>
<p><strong>Készítő:</strong> Lengyel Levente (Neptun kód: NB2YJJ, hallgatói azonosító: h161005)</p>
<p><strong>Témavezető:</strong> Dombi József Dániel</p>
<p><strong>A készítés ideje:</strong> 2023. július - 2024. április</p>

<h3>A szakdolgozat tárgya</h3>
<p>A szakdolgozat témája weboldalak sérülékenységeinek, hitelességének, megbízhatóságának meghatározása. Elsősorban az adatbázis sérülékenységek,
    a nyitott portok és a tanúsítványok vizsgálatával történik egy értékelés a weboldal biztonságosságára vonatkozóan.</p>

<h3>Felhasznált eszközök</h3>
<ul>
    <li>ASP.NET framework (.NET 7)</li>
    <li>Adatbázisok: Microsoft SQL Server, MySQL/MariaDB, SQLite</li>
    <li>JetBrains Rider (a fejlesztéshez használt IDE)</li>
    <li>GitHub (a szakdolgozathoz használt verziókezelő)</li>
    <li>Trello (a szakdolgozathoz használt feladatkezelő)</li>
</ul>

<h3>Az alkalmazás felépítése</h3>
<p>TODO</p>
