#home-page-icon-image {
    width: 50px;
    height: 50px;
}

#home-page-text-div {
    padding: 0 10px;
}

#home-page-text-div p {
    font-size: 15pt;
}

.page-links {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.page-links:hover {
    color: indianred;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 300px;
    margin: 0 auto 30px;
}

form input[type=submit] {
    margin-top: 10px;
}